*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/wallpaper.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo {
   height: 100px;   
   position: absolute;
   z-index: 1;
   left: 20px;
   top: 20px;
}

#title-header {
   background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    width: 60%;
    height: 100vh;
    padding: 0px;
   
}

#title-header h1 {
    color: #D8A25E;
    font-size: 80px;
    text-align: center;
    margin-top: 250px;
}
#title-header h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    top: 50%;
}

#title-header p {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

#title-header .tagLine {
    color: #D8A25E;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    font-family: "Alex Brush", serif;
}

.header-btn {
   margin: 70px auto 0;
   text-align: center;
}

.header-btn a {
   width: 100px;
   text-decoration: none;
   display: inline-block;
   margin: 0 10px;
   padding: 12px 0;
   color: white;
   border: #D8A25E 1px solid;
   text-align: center;
   font-size: small;
   position: relative;
   z-index: 1;
}

.header-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #D8A25E;
    z-index: -1;
    transition: 0.5s;
}

.header-btn a:hover span{
    width: 100%;
}
.header-btn a:hover{
    color: #000;
}

#sideNav{
    width: 200px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #343131;
    padding: 10px;
    z-index: 2;
    transition: 0.5s;
}

#sideNav nav ul li{
   list-style: none;
    margin: 50px 20px;
}

#sideNav nav ul li a{
    text-decoration: none;
    color: white;
}
#sideNav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #D8A25E;
    display: block;
    margin: auto;
}
#sideNav ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}

#menuBtn{
   width: 50px;
   height: 50px;
   background: #343131;
   text-align: center;
    position: fixed;
    right: 20px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn i{
    color: #D8A25E;
    margin-top: 15px;
}

@media screen and (max-width: 450px){
    #title-header {
        background-color: rgba(0, 0, 0, 0.65);
         position: absolute;
         width: 75%;
         height: 100vh;
         padding: 0px;
    }
    #title-header h1{
        font-size: 60px;
        margin-bottom: 0px;
    }
    #title-header h2{
        font-size: 15px;
        margin-top: 0px;
    }
    #title-header p{
        font-size: 10px;
    }
    #title-header .tagLine{
        font-size: 25px;
        font-family: "Alex Brush", serif;
        
    }
    .header-btn a{
        display: block;
        margin: 10px auto;
        font-size: 10px;
    }
}

#aboutUs{
    width: 100%;
    padding:    0px 0;
    background-image: url(images/sample\ house\ 2.jpg);
    background-position: right;
    background-size: cover;
    position: relative;
    
}

.aboutUs {
    background-color: #000;
    width: 50%;
    height: 50vh;
    padding: 100px 50px;
}
.aboutUs h1{
    color: #D8A25E;
    font-size: 30px;
    text-align: center;
    
}
.aboutUs p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.aboutUs-btn {
    margin: 70px auto 0;
    text-align: center;
 }
 
 .aboutUs-btn a {
    width: 100px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: #D8A25E 1px solid;
    text-align: center;
    font-size: small;
    position: relative;
    z-index: 1;
 }
 
 .aboutUs-btn a span {
     width: 0%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background: #D8A25E;
     z-index: -1;
     transition: 0.5s;
 }
 
 .aboutUs-btn a:hover span{
     width: 100%;
 }
 .aboutUs-btn a:hover{
     color: #000;
 }

 @media screen and (max-width: 450px){
    .aboutUs {
        background-color: #343131;
        width: 100%;
        height: 40vh;
        padding: 50px 0px;
    }
    .aboutUs h1{
        color: #D8A25E;
        font-size: 20px;
        text-align: center;
        
    }
    .aboutUs p{
        color: white;
        font-size: 10px;
        text-align: center;
        margin: 20px 20px;
    }
    .aboutUs-btn a{
        display: block;
        margin: 10px auto;
        font-size: 10px;
    }
}
 